{% extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une article</h2>
<p class="col-md-12">Entrez les informations ci-dessous</p>

<div class="col-md-12">
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Designation) }} : {{ form_widget(form.Designation) }} {{ form_errors(form.Designation) }}</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Marque) }} : {{ form_widget(form.Marque) }} {{ form_errors(form.Marque) }}</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Modele) }} : {{ form_widget(form.Modele) }} {{ form_errors(form.Modele) }}</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.NumSerie) }} : {{ form_widget(form.NumSerie) }} {{ form_errors(form.NumSerie) }}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Num_Inventaire) }} : {{ form_widget(form.Num_Inventaire) }} {{ form_errors(form.Num_Inventaire) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Etat : </label>
				<div id="gh-cat-box">
					<select class="gh-sb gh-sprRetina" id="gh-cat" name="etat">
						<option> Fonctionnel</option>
						<option>En Panne</option>
						<option>Réformé</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group">
				<label>Lieu : </label>
				<div id="gh-cat-box">
					<select class="gh-sb gh-sprRetina" id="gh-cat" name="Lieu">
						{% for Hopitale in Hopitales %}
						<option> {{Hopitale.name}}</option>
						{%endfor%}
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Service : </label>
				<div id="gh-cat-box">
					<select class="gh-sb gh-sprRetina" id="gh-cat" name="Service">
						{% for service in Services %}
						<option> {{service.nom}}</option>
						{%endfor%}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Source_de_Financement) }} : {{ form_widget(form.Source_de_Financement) }} {{ form_errors(form.Source_de_Financement) }}</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.societe) }} : {{ form_widget(form.societe) }} {{ form_errors(form.societe) }}</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
		<div class="form-group">{{ form_label(form.DateService) }} : {{ form_widget(form.DateService) }} {{ form_errors(form.DateService) }}</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.Date_Acquisition) }} : {{ form_widget(form.Date_Acquisition) }} {{ form_errors(form.Date_Acquisition) }}</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group" >
				<label>Categorie : </label>
				<div id="gh-cat-box">
					<select class="gh-sb gh-sprRetina" id="gh-cat" name="Categorie">
						{% for categorie in Categories %}
						<option> {{categorie.Name}}</option>
						{%endfor%}
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">{{ form_label(form.BonLivraison) }} : {{ form_widget(form.BonLivraison) }} {{ form_errors(form.BonLivraison) }}</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group"><input type="submit" value="Ajouter" style="margin-top:25px" class="btn btn-primary"/></div>
		</div>
	</div>
	{{ form_end(form) }}
</div>

{% endblock %}